.favorites {
    box-sizing: border-box;
    border: 1px solid rgba(0, 8, 7);
    padding: 30px 20px;
}

.favorites__name {
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid rgba(0, 8, 7, .5);
    margin-bottom: 24px;
}

.favorites__list {
    margin-bottom: 24px;

}
.favorites__list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}
.favorites__save {
    border: none;
    background-color: #496DDB;
    padding: 10px 15px;
    color: #FFEEDB;
    font-size: 14px;
    transition: all 0.2s linear;
}

.favorites__save:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: all 0.2s linear;
}

.favorites__delete{
    border-radius: 50px;
    width: 25px;
    height: 25px;
   background-color: white;
    border: solid 1px;


}

.favorites__delete:hover{
    background-color: green;
    color: white;
}
